body {
    background-color: #4aaaa5;
    background-image: url("../images/circles-light.png");
    position: relative;
}

* {
    box-sizing: border-box;
}

/* == Holds all of the important elements == */
.first_container {  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 1100px;
    width: 960px;
    position: relative;
    margin: 0 auto;
    z-index: 2;
    text-align: center;
}

    /* -- Holds everything in the header -- */
    .header_container { 
        display: flex;
        width: 960px;
        height: 77px;
        padding-bottom: 10px;
        justify-content: space-between;
        background-color: rgba(255,255,255,0);
    }
    
        /* -- Holds my name at the top of the screen -- */
        .name_container {  
            font-family: Georgia, 'Times New Roman', Times, serif;
            background-color: #4aaaa5;
            width: 200px;
            height: 77px;
            padding: 13px;
            font-size: 30px;
            color: white;
        }

        /* -- Holds the navigational buttons -- */
        .button_container { 
            display: flex;
            width: 365px;
            height: 77px;
            justify-content: space-between;
        }

        /* -- Applies to all the div child classes which include the string "topbutton" -- */
            div[class^='topbutton'] {
                margin: 0 /*auto*/;
                padding: 20px;
                flex-grow: 1;   /* Allows the items in the container to be the same size*/
                font-size: 20px;
                font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            }

            /* -- "About" -- */
            .topbutton_1 {
                flex: 1;
            }

            /* -- "Portfolio" -- */
            .topbutton_2 {
                flex: 2;
            }

            /* -- "Contact" -- */
            .topbutton_3 {
                flex: 3;
            }

            /* -- Vertical line dividers -- */
            .divider {
                width: 2px;
                margin: 12px 0;
                background: gray;
                height: 40px;
            }

    /* -- Contains pretty much everything in the body -- */
    .main_container {   
        display: flex;
        margin-top: 50px;
        width: 960px;
        height: 855px;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgba (255,255,255,0);
    }
        
        /* -- Contains the text of the "About me" section  -- */
        .body_container {
            display: flex;
            height: 90%;
            flex-direction: column;
            justify-content: flex-start;
            width: 650px;
            background-color: #ffffff;
            border: 1px solid #dddddd;
        }

            .main_header {
                border-bottom: 1px solid #dddddd;
                font-size: 30px;
                text-align: left;
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: #4aaaa5;
                padding-left: 20px;
                padding-top: 12px;
                padding-bottom: 20px;
                background-color: #ffffff;
                margin-bottom: 10px;
                /* width: 650px; */
                width: 100%;
            }

        /* -- Where the main text is -- */
            .main_body {    
                /* width: 650px; */
                width: 100%;
                color: #777777;
                font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
                padding: 10px 50px;
                text-align: left;
                background-color: #ffffff;
                height: 80%;
            }

                .profile_pic {
                    width: 200px;
                    height: 200px;
                    border: 1px solid #dddddd;
                    float: left;
                    background-image: url("../images/mypic.jpg");
                    background-repeat: no-repeat;
                    background-size: 297px 200px;
                    transform: rotate(0.25turn);
                    margin-left: 0px;
                }

            /* -- "Connect" section that contains links to social media -- */
            .connect {
                display: flex;
                border: 1px solid #dddddd;
                width: 270px;
                height: 20%;
                padding: 10px;
                flex-direction: column;
                align-items: center;
                background-color: #ffffff;
            }

                .connect_header {
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    font-size: 23px;
                    color: #4aaaa5;
                    width: 250px;
                    height: 50px;
                    padding-top: 10px;
                    border-bottom: 1px solid #dddddd;
                }

                .linkbutton_container {
                    margin-top: 20px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    width: 250px;
                    height: 50px;
                }

                    .github_button {
                        height: 40px;
                        width: 40px;
                    }

                    .linkedin_button {
                        height: 40px;
                        width: 40px;
                    }

                    .stackoverflow_button {
                        height: 40px;
                        width: 40px;
                    }

    /* -- Has my copyright -- */
    footer {
        background-color: rgba(255,255,255,0);
        width: 300px;
        height: 50px;
        padding: 15px;
        color: #ffffff;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -150px;
        z-index: 2;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 16px;
    }

/* == The horizontal line divider that separates the header from the body == */
.top_divider {
    height: 2px;
    background: gray;
    position: absolute;
    top: 20px;
}

/* == The long bar that lies behind the header == */
.header_bar {
    height: 77px;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    /* margin: 0 auto; */
    z-index: 1;
    border: 1px solid #cccccc;
}

/* == The long bar that lies behind the footer == */
.footer_bar {
    height: 50px;
    background-color: #666666;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
}

/*==================================================================================================================*/

/* == Used in portfolio.html == */

.project_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 650px;
    color: #777777;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    padding: 10px 50px;
    text-align: left;
    background-color: #ffffff;
    height: 90%;
    margin-bottom: 20px;
}


.project_row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 170px;
}

.project_labels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 20%;
    align-items: center;
}

.project {
    margin-bottom: 15px;
    height: 120px;
    width: 180px;
    border: 1px solid #dddddd;
}


.project_holder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    width: 100%;
}

.label {
    font-size: 20px;
}


/*=================================================================================================*/

/* == Used in contact.html == */

input[type = text], textarea {
    width: 100%;
    padding: 12px 12px;
    margin-top: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

textarea {
    height: 200px;
}

input[type = submit] {
    height: 60px;
    width: 120px;
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 20px;
}

input[type = submit]:hover {
    background-color: #325a58;
}

/* ============================================= */

/* Media queries.


To do (index.html)
1. Make header links on right side of page move towards left
    as screen size changes
    
    a. Typical behavior for < 980px
    b. Similar behavior for < 768px
    c. Sit below name for  < 640 px

2. Move sidebar as screen size changes

    a. Similar behavior for < 980px
    b. Sit below main body for < 768px
    c. Same as (b) for < 640px

3. Have text body respond to screen size changes relative to photo

    a. Similar behavior for < 980px
    b. " " "
    c. " " "

///////////////////////////

To do (portfolio.html)
1. Move project pictures and labels around as screen
    size changes

    a. Vertically align elements for (768 <= x <= 979)
    b. Typical behavior for (640 <= x <= 767)
    c. Same as (a) for (x <= 639)

2. Move sidebar as screen size changes

    a. Similar behavior for (768 <= x <= 979)
    b. Same as (a) for (640 <= x <= 767)
        i. May not be able to do this without creation and restructuring 
            of classes. 
            This will probably behave the same as index.html.
    c. Sit behow main body for (x <= 639)






*/



/*=====  For < 980px  =====*/
@media handheld, screen and (max-width: 979px) {       
    
    /* ===== index.html ===== */

    body {
        width: 100%;
        /* position: absolute; */
        /* position: relative; */
    }

    .first_container {
        align-items: flex-start;
        justify-content: space-between;
    }

    .header_bar {
        width: 100%;
        /* margin: auto; */
        /* position: relative; */
    }

        .header_container {
            width: 100%;
        }

        .button_container {
            /* width: 30%; */
            /* float: right;    */
            /* Makes the button container stay to the right of the page w/o getting cut off */
            /**/
    
            position: relative;
            right: 20%;
        }


    .top_divider {
        width: 100%;
    }

    .main_container {
        display: flex;
        justify-content: flex-start;
        /* justify-content: space-between; */
        width: 100%;
    }

        .body_container {   /* Main "About Me" section */
            width: 55%;
        }

            /* .main_header {      "About Me" heading


            }      */

            .main_body, .project_body {        /* "About Me" body text */
                padding: 10px 20px;
            }

            .project_body {
                width: 100%;
            }

                /* .project_row {      Holds project labels and project pics
                    flex-direction: column;
                } */

                .project_labels {
                    flex-direction: column;
                }

                .project_holder {
                    flex-direction: column;
                }


        .connect {
            /* width: 25%; */
            width: 17%;
            /* margin-left: 20px; */
            margin-left: 57px;
        }

            .connect_header {
                font-size: 100%;
                width: 100%;
            }

            .linkbutton_container {
                width: 100%;
                justify-content: space-around;
            }


}




/*=====  For < 768px  =====*/
@media handheld, screen and (max-width: 767px) {

    body {
        width: 100%;
    }

    .first_container {
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }


    .header_bar {
        width: 100%;
        /* margin: auto; */
        /* position: relative; */
    }

        .header_container {
            width: 100%;
        }

        .button_container {
            /* width: 30%; */
            /* float: right;    */
            /* Makes the button container stay to the right of the page w/o getting cut off */
            /**/
    
            position: relative;
            right: 2%;
        }


    .top_divider {
        width: 100%;
    }


    .main_container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        /* justify-content: space-between; */
        width: 100%;
        height: 100%;
    }

        .body_container {   /* Main "About Me" section */
            width: 100%;
            height: auto;
            margin-top: 30px;
        }

            /* .main_header {      "About Me" heading


            }      */

            .main_body {        /* "About Me" body text */
                padding: 10px 20px;
            }

        .connect {
            /* width: 25%; */
            width: 100%;
            height: auto;
            margin-left: 0px;
            margin-top: 40px;
            /* margin-left: 20px; */
            /* margin-left: 57px; */
        }

            .connect_header {
                font-size: 100%;
                width: 100%;
            }

            .linkbutton_container {
                width: 100%;
                justify-content: space-around;
            }


}





/*=====  For < 640px  =====*/
@media handheld, screen and (max-width: 639px) {


    body {
        width: 100%;
    }

    .first_container {
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }


    .header_bar {
        width: 100%;
        height: 120px;
        /* margin: auto; */
        /* position: relative; */
    }

        .header_container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

        }

            .name_container {
                margin-right: 30px;
            }

        .button_container {
            /* width: 30%; */
            /* float: right;    */
            /* Makes the button container stay to the right of the page w/o getting cut off */
            /**/
    
            position: relative;
            /* right: 2%; */
        }


    .top_divider {
        width: 100%;
    }


    .main_container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        /* justify-content: space-between; */
        width: 100%;
        height: 100%;
    }

        .body_container {   /* Main "About Me" section */
            width: 100%;
            height: auto;
            /* margin-bottom: 80px; */
            margin-top: 5%;
            margin-bottom: 10%;
        }

            /* .main_header {      "About Me" heading


            }      */

            .main_body {        /* "About Me" body text */
                padding: 10px 20px;
            }

            
        .connect {
            /* width: 25%; */
            width: 100%;
            height: auto;
            margin-left: 0px;
            /* margin-top: 80px; */
            /* margin-top: 40px; */
            margin-top: 10%;
            /* margin-left: 20px; */
            /* margin-left: 57px; */
        }

            .connect_header {
                font-size: 100%;
                width: 100%;
            }

            .linkbutton_container {
                width: 100%;
                justify-content: space-around;
            }

    footer {
        position: relative;
        bottom: 0;
    }

    /* .footer_bar {
        position: relative;
        bottom: 0;
    } */

























}
