/* ============================================= */

/* Media queries.


To do (index.html)
1. Make header links on right side of page move towards left
    as screen size changes
    
    a. Typical behavior for < 980px
    b. Similar behavior for < 768px
    c. Sit below name for  < 640 px

2. Move sidebar as screen size changes

    a. Similar behavior for < 980px
    b. Sit below main body for < 768px
    c. Same as (b) for < 640px

3. Have text body respond to screen size changes relative to photo

    a. Similar behavior for < 980px
    b. " " "
    c. " " "

///////////////////////////

To do (portfolio.html)
1. Move project pictures and labels around as screen
    size changes

    a. Vertically align elements for (768 <= x <= 979)
    b. Typical behavior for (640 <= x <= 767)
    c. Same as (a) for (x <= 639)

2. Move sidebar as screen size changes

    a. Similar behavior for (768 <= x <= 979)
    b. Same as (a) for (640 <= x <= 767)
        i. May not be able to do this without creation and restructuring 
            of classes. 
            This will probably behave the same as index.html.
    c. Sit behow main body for (x <= 639)






*/



/*=====  For < 980px  =====*/
@media handheld, screen and (max-width: 979px) {       
    
    /* ===== index.html ===== */

    body {
        width: 100%;
        /* position: absolute; */
        /* position: relative; */
    }

    .first_container {
        align-items: flex-start;
        justify-content: space-between;
    }

    .header_bar {
        width: 100%;
        /* margin: auto; */
        /* position: relative; */
    }

        .header_container {
            width: 100%;
        }

        .button_container {
            /* width: 30%; */
            /* float: right;    */
            /* Makes the button container stay to the right of the page w/o getting cut off */
            /**/
    
            position: relative;
            right: 20%;
        }


    .top_divider {
        width: 100%;
    }

    .main_container {
        display: flex;
        justify-content: flex-start;
        /* justify-content: space-between; */
        width: 100%;
        margin-bottom: 12%;
    }

        .body_container {   /* Main "About Me" section */
            width: 55%;
        }

            /* .main_header {      "About Me" heading


            }      */

            .main_body, .project_body {        /* "About Me" body text */
                padding: 10px 20px;
            }

            .project_body {
                width: 100%;
            }

                .project_row {     /*  Holds project labels and project pics */
                    /* flex-direction: column; */
                    flex-direction: row;
                }

                .project_labels {
                    flex-direction: column;
                    height: 81%;
                    justify-content: space-between;
                }

                .project_holder {
                    height: 100%;
                    flex-direction: column;
                    /* position: relative; */
                    justify-content: center;
                    /* top: 40%; */
                }

                    /* .project {
                        width: 100%;
                        height: auto;
                    } */

                        img {
                            width: 100%;
                            height: auto;
                        }


        .connect {
            /* width: 25%; */
            width: 17%;
            /* margin-left: 20px; */
            margin-left: 57px;
        }

            .connect_header {
                font-size: 100%;
                width: 100%;
            }

            .linkbutton_container {
                width: 100%;
                justify-content: space-around;
            }


}

/*==========================================================================================*/


/*=====  For < 768px  =====*/
@media handheld, screen and (max-width: 767px) {

    body {
        width: 100%;
    }

    .first_container {
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }


    .header_bar {
        width: 100%;
        /* margin: auto; */
        /* position: relative; */
    }

        .header_container {
            width: 100%;
        }

        .button_container {
            /* width: 30%; */
            /* float: right;    */
            /* Makes the button container stay to the right of the page w/o getting cut off */
            /**/
    
            position: relative;
            right: 2%;
        }


    .top_divider {
        width: 100%;
    }


    .main_container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        /* justify-content: space-between; */
        width: 100%;
        height: 100%;
    }

        .body_container {   /* Main "About Me" section */
            width: 100%;
            height: auto;
            margin-top: 30px;
        }

            /* .main_header {      "About Me" heading


            }      */

            .main_body {        /* "About Me" body text */
                padding: 10px 20px;
            }

        .connect {
            /* width: 25%; */
            width: 100%;
            height: auto;
            margin-left: 0px;
            margin-top: 40px;
            /* margin-left: 20px; */
            /* margin-left: 57px; */
        }

            .connect_header {
                font-size: 100%;
                width: 100%;
            }

            .linkbutton_container {
                width: 100%;
                justify-content: space-around;
            }


}



/*==========================================================================================*/



/*=====  For < 640px  =====*/
@media handheld, screen and (max-width: 639px) {


    body {
        width: 100%;
    }

    .first_container {
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }


    .header_bar {
        width: 100%;
        height: 120px;
        /* margin: auto; */
        /* position: relative; */
    }

        .header_container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

        }

            .name_container {
                margin-right: 30px;
            }

        .button_container {
            /* width: 30%; */
            /* float: right;    */
            /* Makes the button container stay to the right of the page w/o getting cut off */
            /**/
    
            position: relative;
            /* right: 2%; */
        }


    .top_divider {
        width: 100%;
    }


    .main_container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        /* justify-content: space-between; */
        width: 100%;
        height: 100%;
    }

        .body_container {   /* Main "About Me" section */
            width: 100%;
            height: auto;
            /* margin-bottom: 80px; */
            margin-top: 5%;
            margin-bottom: 10%;
        }

            /* .main_header {      "About Me" heading


            }      */

            .main_body {        /* "About Me" body text */
                padding: 10px 20px;
            }

            
        .connect {
            /* width: 25%; */
            width: 100%;
            height: auto;
            margin-left: 0px;
            /* margin-top: 80px; */
            /* margin-top: 40px; */
            margin-top: 10%;
            /* margin-left: 20px; */
            /* margin-left: 57px; */
        }

            .connect_header {
                font-size: 100%;
                width: 100%;
            }

            .linkbutton_container {
                width: 100%;
                justify-content: space-around;
            }

    footer {
        position: relative;
        bottom: 0;
    }

    /* .footer_bar {
        position: relative;
        bottom: 0;
    } */